[bumpversion]
current_version = 0.4.3
commit = True
tag = True
tag_name = SwanML/v{new_version}
message = SwanML v{new_version}

[bumpversion:file:swan_ml/_version.py]

[bumpversion:file:package.json]
search = "version": "{current_version}"
replace = "version": "{new_version}"
