<div class="slider js_simple_dots js_slider">
        <div class="frame js_frame">
            <ul class="slides js_slides">
                <li class="js_slide">
                    <div class="img" style="background-image:url('{root_path}img/img1.png')"></div>
                    <div class="content">
                        <h1>SWAN was updated!</h1>
                        <p>Check out the new features in the following pages.</p>
                    </div>
                </li>
                <li class="js_slide">
                    <div class="img" style="background-image:url('{root_path}img/img11.png')"></div>
                    <div class="content">
                        <h1>New LCG 96</h1>
                        <p><a href="http://lcginfo.cern.ch/release_packages/x86_64-centos7-gcc8-opt/96/" target="_blank">LCG 96</a> becomes the new stable release for General Purpose and Spark analysis.</p>
                    </div>
                </li>
                <li class="js_slide">
                    <div class="img" style="background-image:url('{root_path}img/img12.png')"></div>
                    <div class="content">
                        <h1>Updated NXCALS view</h1>
                        <p>Dedicated NXCals view has been updated to LCG 96.</p>
                    </div>
                </li>
                <li class="js_slide">
                    <div class="img" style="background-image:url('{root_path}img/img13.png')"></div>
                    <div class="content">
                        <h1>Cloud Containers in LCG 96</h1>
                        <p>Cloud Containers cluster becomes available in stable LCG 96 release, advised for Distributed ROOT RDataFrame and for Spark RDD with protocols as s3a:// and root://. More details <a href="https://hadoop-user-guide.web.cern.ch/hadoop-user-guide/getstart/swan.html" target="_blank">here</a>.</p>
                    </div>
                </li>
                <li class="js_slide">
                    <div class="img" style="background-image:url('{root_path}img/img2.png')"></div>
                    <div class="content">
                        <h1>Minor bug fixes</h1>
                        <p>Improvements to the user experience. Changelog available in <a href="https://swan-community.web.cern.ch/t/swan-updates/99" target="_blank">SWAN Updates</a>.</p>
                    </div>
                </li>
                <li class="js_slide">
                    <div class="img" style="background-image:url('{root_path}img/img5.png')"></div>
                    <div class="content">
                        <h1>Feedback</h1>
                        <p>For more info check SWAN Help or contact us on <a href="https://swan-community.web.cern.ch" target="_blank">SWAN Community</a>.</p>
                    </div>
                </li>
            </ul>
        </div>
        <span class="js_prev prev">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5"><g><path
                                fill="#0053A1"
                                d="M302.67 90.877l55.77 55.508L254.575 250.75 358.44 355.116l-55.77 55.506L143.56 250.75z"/></g></svg>
                    </span>
        <span class="js_next next">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5"><g><path
                                fill="#0053A1"
                                d="M199.33 410.622l-55.77-55.508L247.425 250.75 143.56 146.384l55.77-55.507L358.44 250.75z"/></g></svg>
                    </span>
        <ul class="js_dots dots"></ul>
    </div>