{% extends "page.html" %}

{% block stylesheet %}
{{super()}}
<style type="text/css">
/* disable initial hide */
div#header, div#site {
    display: block;
}
#output-box {
	display: block;
	width: 1150px;
	height: 300px;
	border: 1px solid #ccc;
	background-color: #f7f7f7;
	padding: 10px;
	border-radius: 5px;
}
</style>
{% endblock %}

{% block params %}
{{super()}}
data-base-url="{{base_url | urlencode}}"
{% endblock %}

{% block site %}

<div class="container">
  <div class="row">
    <div class="swan-info">
      <div id="swan-loader">
        <div class="loader-circle">
          <img src="{{hub_prefix}}static/swan/logos/{{swan_logo_filename}}">
        </div>
        <div class="loader-line-mask">
          <div class="loader-line"></div>
        </div>
        <span class="text">Creating environment...</span>
		<div class="swan-info" id="output-box"></div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
    {{super()}}

<script type = "text/javascript" >
	
	function error(reason) {
		var loader = document.getElementById('swan-loader');
		loader.getElementsByClassName('loader-line-mask')[0].style.display = 'none';
		loader.getElementsByClassName('text')[0].innerHTML = `<p class=\"extra\">Error downloading Project: ${reason}</p>`;
	}

	var base_url = document.body.getAttribute('data-base-url');
	
	var env_name = encodeURIComponent(document.body.getAttribute('env') || "");
	var req = encodeURIComponent(document.body.getAttribute('req') || "");
	var clear = encodeURIComponent(document.body.getAttribute('clear') || "true");
	var accpy_version = encodeURIComponent(document.body.getAttribute('accpy') || "");
	var custom_python = encodeURIComponent(document.body.getAttribute('python') || "");

	var eventSource = new EventSource(`${base_url}api/customenvs?env=${env_name}&req=${req}&clear=${clear}&accpy=${accpy_version}&python=${custom_python}`);

	eventSource.onmessage = function(event) {
		if (event.data === 'EOF') {
			// Close SSE connection and update UI when done
			eventSource.close();
			var loader = document.getElementById('swan-loader');
			loader.getElementsByClassName('text')[0].innerHTML = 'Done';
			loader.getElementsByClassName('loader-line-mask')[0].style.display = 'none';
		} else {
			// Add output to output-box
			var outputBox = document.getElementById('output-box');
			outputBox.innerHTML += event.data + '<br>';
		}
	};

	eventSource.onerror = function(err) {
		error(err.message);
	};

</script>
{% endblock %}
