<p>You are sharing: </p>
<p class="project-path"></p>
<p>&nbsp;</p>
<p>You can share with people or groups.</p>
<p>Your contacts will be able to see your project, including all the files inside it, and clone it.</p>
<p>You can prefix the search by "a:" to also look into secondary and service accounts, or "g:" to only search for unix groups.</p>
<p>&nbsp;</p>
<div class="auto-complete-wrapper">
    <i class="fa fa-circle-o-notch fa-spin loading"></i>
    <i class="fa fa-exclamation-circle error"></i>
    <input type="text" id="name-search" class="form-control" name="name" placeholder="Start typing to add names...">
</div>
<h2>Shared with</h2>
<ul id="shared-people"></ul>