[bumpversion]
current_version = 0.0.1
commit = True
tag = True
tag_name = SwanShare/v{new_version}
message = SwanShare v{new_version}

[bumpversion:file:SwanShare/_version.py]

[bumpversion:file:package.json]