[bumpversion]
current_version = 0.0.10
commit = True
tag = True
tag_name = SparkMonitor/v{new_version}
message = SparkMonitor v{new_version}

[bumpversion:file:sparkmonitor/_version.py]

[bumpversion:file:package.json]

[bumpversion:file:nbextension/package.json]
