<p class="success"><i class="icon-checked"></i><span>You are connected to </span><span class="success-cluster"></span></p>
<p>The following variables were instantiated:</p>
<ul class="variables">
    <li><b>sc</b> = <a href="https://spark.apache.org/docs/latest/api/python/pyspark.html#pyspark.SparkContext"
                       target="_blank">SparkContext</a></li>
    <li><b>spark</b> = <a
            href="https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.SparkSession"
            target="_blank">SparkSession</a></li>
</ul>
<p style="font-weight:bold;">Connection details</p>
<p><span>Spark version is </span><span class="success-version"></span></p>
<p class="success-history">Spark History not available</p>
<p class="success-metrics">Spark Metrics are not available (requires enabled bundle)</p>
<br>
<p><span style="font-weight:bold;">Spark driver logs </span><span class="success-logs-button"></span></p>
<p>These are application logs. Any Spark action will update the logfile.</p>
<div class="connecting">
    <pre class="logs">Waiting for the remaining job to finish to retrieve the logs..</pre>
</div>
