<p class="success"><i class="icon-checked"></i>You are now connected</p>
<p>The following variables were instantiated:</p>
<ul class="variables">
    <li><b>sc</b> = <a href="https://spark.apache.org/docs/latest/api/python/pyspark.html#pyspark.SparkContext"
                       target="_blank">SparkContext</a></li>
    <li><b>spark</b> = <a
            href="https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.SparkSession"
            target="_blank">SparkSession</a></li>
</ul>