<!-- <div class="container-tabs"> -->
    <header>
            <div id="material-tabs">
                    <a id="sa-token" href="#tab1" class="active">token</a>
                    <a id="openstack" href="#tab2">openstack</a>
                    <a id="gcloud" href="#tab3">gcloud</a>
                    <span class="yellow-bar"></span>
            </div>
    </header>

    <div class="tab-content">
            <div id="tab1">
                <!-- <form method="GET" action="" name="local-form" id="local-form"> -->
                <div id="cluster-settings">
                <label class="pure-material-checkbox">
                        <input type="checkbox" id="cluster-mode">
                        <span>Disable TLS support</span>
                </label>
                </div>
                <br>
                <hr>
                <br>
                <div id="other-settings">

                </div>
                <!-- </form> -->
            </div>
            <div id="tab2">
            </div>
            <div id="tab3">
                    <p>Third tab content.</p>
            </div>
    </div>

    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous">
  </script>
<!-- </div> -->