<br>
<div id="user_html_inputs">
    <!-- <label for="select_cluster_options" style="font-size: 15px;">Select KUEBCONFIG context</label> <br> -->
    <!-- <label class="select-label">Select Spark K8s cluster</label> -->
    <!-- <div style="display: flex; margin: 0;">
    <select id="select_cluster_options" class="select-text">

    </select>
    <button class="btn-blue" id="view-context-btn" style="margin-left: 0px;">View</button>
    </div> 
    <span class="select-highlight"></span>
    <span class="select-bar"></span> -->
</div>
