include LICENSE
include README.md
include pyproject.toml

include jupyter-config/swancontents.json

include package.json
include ts*.json

graft swancontents/swanclassic/static
graft swancontents/swanclassic/templates
graft swancontents/swanclassic/labextension
graft swancontents/serverextension/templates

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
